.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
h1 {
  color: #66BFBF;
  margin-top: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
}
h2 {
  padding-bottom: 10px;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3{
  margin-bottom: 30px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.middlecontainer {
  margin: 100px 0px;

}
.bottomcontainer {
  background-color: #66bfbf;
  padding: 50px 0px 20px;
}
.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;

}
.topcloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.profilepic {
  height: 300px;
  width: 250px;
  border-radius: 100%;
}
.skillimg1 {
  padding-right: 30px;
  width: 25%;
  float: left;
}
.skillimg2 {
  padding-left: : 30px;
  width: 25%;
  float: right;
}
.skillrow {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 8px;
  width: 5%;
}
.footerlink {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footerlink:hover {
  color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.endpara {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
p {
  font-weight: bold;
  line-height: 2;
}
.intro {
  width: 30%;
  margin: auto;
}
.contactme{
  width: 40%;
  margin: 40px auto 60px;
}
